@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }
  .font-pixel {
    letter-spacing: 0.075em;
  }
  *:is(:focus) {
    outline: 1px solid #f97316;
  }

  html.dark {
    color-scheme: dark;
  }

  html,
  body,
  #root {
    @apply min-h-full w-full;
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-zinc-50 font-sans text-zinc-900 antialiased dark:bg-zinc-950 dark:text-zinc-100;
  }

  * {
    @apply selection:bg-orange-200 selection:text-zinc-900 dark:selection:bg-orange-900/50 dark:selection:text-zinc-50;
  }
}
