@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  *:is(:focus) {
    outline: 1px solid theme("colors.orange.500");
  }

  html.dark {
    color-scheme: dark;
  }

  html,
  body,
  #root {
    @apply min-h-full w-full;
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-zinc-50 font-sans text-zinc-900 antialiased dark:bg-zinc-950 dark:text-zinc-100;
  }

  * {
    @apply selection:bg-orange-200 selection:text-zinc-900 dark:selection:bg-orange-900/50 dark:selection:text-zinc-50;
  }

  @font-face {
    font-family: "Fusion Pixel 12px Monospaced SC";
    src: url("/fonts/FusionPixel12pxMonospacedSC-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }
}
